@import url(https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700;900&family=Poppins:wght@800&family=Rubik:wght@300;400;500;700;800&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Maven+Pro:wght@300;400;500;700;800&display=swap);
a,
body {
  color: var(--text-color);
}
body,
header {
  background-color: var(--container-bg-color);
}
.header__logo,
header,
nav {
  display: -webkit-box;
  display: -ms-flexbox;
}
.languages__list,
html.sr .load-hidden {
  visibility: hidden;
}
.header__logo div,
.languages__list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
}
.hero__section .objectifs i,
nav ul i {
  margin-right: 1rem;
}
.button,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-1);
}
.button,
.languages__selector {
  cursor: pointer;
}
#loader,
header {
  left: 0;
  width: 100%;
}
#loader,
header,
nav {
  width: 100%;
}
.hero__text h1,
.section__heading h1 {
  -webkit-text-fill-color: transparent;
}
.contact__box p::first-letter,
.dev__team .copyrights,
.dev__team .tag,
.hero__section .objectifs,
.logo__container span,
h1,
h2,
h3,
h4,
h5,
h6,
nav a {
  text-transform: capitalize;
}
:root {
  --header-height: 6rem;
  --container-bg-color: #e5e5cb;
  --container-bg-color-2: #9b7b2e;
  --container-bg-color-3: #d09e26;
  --text-gradient: linear-gradient(to right, #ad7c08 40%, #e2a20b 60%);
  --font-1: "Barlow", sans-serif;
  --font-2: "Kanit", sans-serif;
  --font-3: "Poppins", sans-serif;
  --font-4: "Rubik", sans-serif;
  --font-5: "Maven Pro", sans-serif;
  --fs-4xl: 5rem;
  --fs-3xl: 4.6rem;
  --fs-2xl: 3.6rem;
  --fs-xl: 3rem;
  --fs-l: 2.4rem;
  --fs-m: 1.8rem;
  --fs-s: 1.6rem;
  --fs-xs: 1.4rem;
  --fw-normal: 300;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;
  --fw-super-bold: 900;
  --m-025: 0.4rem;
  --m-05: 0.8rem;
  --m-075: 1.2rem;
  --m-1: 1.6rem;
  --m-15: 2rem;
  --m-2: 3.2rem;
  --m-25: 3.8rem;
  --m-3: 4.8rem;
  --m-4: 7rem;
  --m-5: 9rem;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}
@media screen and (max-width: 968px) {
  :root {
    --fs-4xl: 3.6rem;
    --fs-3xl: 3.2rem;
    --fs-2xl: 2.8rem;
    --fs-xl: 2rem;
    --fs-l: 1.8rem;
    --fs-m: 1.6rem;
    --fs-s: 1.4rem;
    --fs-xs: 1.3rem;
  }
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: calc(var(--header-height));
  scrollbar-color: red;
}
body,
nav ul i {
  font-size: var(--fs-m);
}
body {
  line-height: 1.4;
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
  font-weight: var(--fw-bold);
  line-height: 1.6;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
::-webkit-scrollbar {
  width: 0.8rem;
  height: 1rem;
  background-color: #000;
  background-color: var(--container-bg-color);
}
::-webkit-scrollbar-thumb {
  background-color: var(--container-bg-color-2);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--container-bg-color-3);
}
@-webkit-keyframes textShine {
  0% {
    background-position: 10%;
  }
  50% {
    background-position: 50%;
  }
  100% {
    background-position: 100%;
  }
}
@keyframes textShine {
  0% {
    background-position: 10%;
  }
  50% {
    background-position: 50%;
  }
  100% {
    background-position: 100%;
  }
}
@-webkit-keyframes arrowAnimation {
  0% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(-20px, -20px);
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(20px, 20px);
    transform: rotate(45deg) translate(20px, 20px);
  }
}
@keyframes arrowAnimation {
  0% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(-20px, -20px);
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(20px, 20px);
    transform: rotate(45deg) translate(20px, 20px);
  }
}
@media (max-width: 768px) {
  body {
    font-size: var(--fs-s);
  }
  h1 {
    font-size: var(--fs-xl);
  }
  p {
    font-size: var(--fs-m);
  }
}
@media (max-width: 480px) {
  body {
    font-size: var(--fs-s);
  }
  h1 {
    font-size: var(--fs-l);
  }
  p {
    font-size: var(--fs-m);
  }
}
section {
  margin: 0 auto 4rem;
  padding: 4rem 5rem;
}
header {
  position: fixed;
  z-index: var(--z-fixed);
  top: 0;
  right: 0;
  margin: 0 auto;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: var(--header-height);
  -webkit-box-shadow: none;
  box-shadow: none;
}
.header__box {
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0 3px 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 20px;
}
.header__steps,
.header__steps .active header {
  background: #000;
  color: #fff;
}
.button:focus,
.button:hover,
.swiper-pagination-bullet:hover,
.to__top a:hover {
  background-color: var(--container-bg-color-3);
}
.hero__section .objectifs i,
nav a:hover {
  color: var(--container-bg-color-2);
}
nav {
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 5rem;
}
.active__link {
  color: var(--container-bg-color-3);
}
.header__logo {
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 1rem;
  font-weight: 700;
}
.header__logo div,
.hero__section,
.languages__list,
nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
}
.button,
nav a {
  font-weight: var(--fw-semi-bold);
}
.header__logo div {
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: 2.4rem;
  font-weight: var(--fw-bold);
}
.arrow span,
.social-media__links a:hover span {
  display: block;
}
.header__logo span:last-child {
  font-size: 11px;
}
.header__logo img {
  width: 5rem;
}
nav ul {
  display: flex;
  gap: 3rem;
  background-color: inherit;
}
nav a {
  font-size: 16px;
}
nav ul i {
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.languages__icon,
.languages__list {
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
}
nav a:hover i {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}
.languages {
  position: relative;
  width: 2rem;
}
.languages__icon {
  width: var(--fs-2xl);
  transition: 0.2s;
}
.languages__icon:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.languages__list {
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  position: absolute;
  top: 5rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 1rem;
  background-color: var(--container-bg-color);
  border-radius: 15px;
  transition: 0.2s;
  opacity: 0;
  -webkit-box-shadow: rgba(156, 123, 46, 0.4) 0 2px 4px,
    rgba(156, 123, 46, 0.3) 0 7px 13px -3px,
    rgba(156, 123, 46, 0.2) 0 -3px 0 inset, rgba(0, 0, 0, 0.24) 0 3px 8px;
  box-shadow: rgba(156, 123, 46, 0.4) 0 2px 4px,
    rgba(156, 123, 46, 0.3) 0 7px 13px -3px,
    rgba(156, 123, 46, 0.2) 0 -3px 0 inset, rgba(0, 0, 0, 0.24) 0 3px 8px;
}
.languages__list a {
  padding: 1rem;
}
.languages__list a:hover {
  -webkit-filter: brightness(1.2);
  filter: brightness(1.2);
  border-radius: inherit;
  padding: 1rem;
}
.languages__list.visible {
  visibility: visible;
  top: calc(var(--header-height) - 1rem);
  opacity: 1;
}
.close__button,
.show__button {
  display: none;
}
main {
  margin-top: calc(var(--header-height) - 2rem);
}
.hero__section {
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
}
.hero__text,
.logo__container {
  display: -webkit-box;
  display: -ms-flexbox;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
}
.logo__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-left: 2rem;
}
.logo__container img {
  max-width: 12rem;
}
.logo__container span {
  color: #9b7b2e;
}
.button,
.card h1,
.footer__section-one ul,
.hero__text h1,
.section__heading h1,
.steps h3 {
  text-transform: uppercase;
}
.hero__text {
  width: 45%;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
#loader,
.hero__section .objectifs,
.loader-icon {
  display: -webkit-box;
  display: -ms-flexbox;
}
.hero__text h1 {
  font-weight: var(--fw-super-bold);
  font-size: var(--fs-4xl);
  font-family: var(--font-4);
  margin-bottom: 1rem;
  background: #9b7b2e;
  background: var(--text-gradient);
  -webkit-background-clip: text;
}
.card h1,
.section__heading h3 {
  font-weight: var(--fw-bold);
}
.hero__section .objectifs {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0 2rem;
  font-weight: var(--fw-normal);
  font-family: var(--font-5);
  line-height: 1.6;
}
.hero__slider {
  width: 55%;
  padding: 5rem;
}
.hero__swiper {
  position: relative;
  border-radius: 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}
.hero__slider img {
  cursor: -webkit-grab;
  cursor: grab;
}
.hero__swiper-button-next,
.hero__swiper-button-prev {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  z-index: var(--z-tooltip);
  width: 4rem;
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 50%;
  font-size: var(--fs-2xl);
  color: #000;
  background-color: var(--container-bg-color-2);
  cursor: pointer;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.hero__swiper-button-next:hover,
.hero__swiper-button-prev:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-filter: brightness(1.2);
  filter: brightness(1.2);
}
.hero__swiper-button-prev {
  left: 2%;
}
.hero__swiper-button-next {
  right: 2%;
}
.swiper-pagination-bullet {
  width: 20px;
  height: 5px;
  border-radius: 10px;
  background-color: #fff;
  color: #000;
  opacity: 0.5;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.button,
.to__top a {
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
}
.swiper-pagination-bullet-active {
  background-color: #c58e0e;
  opacity: 1;
  width: 30px;
}
.button {
  border: none;
  border-radius: 15px;
  font-size: var(--fs-m);
  padding: 1.5rem 2rem;
  background-color: #000;
  color: var(--container-bg-color-2);
  margin-top: 2rem;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  transition: 0.2s;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0 5px 15px 0;
  box-shadow: rgba(0, 0, 0, 0.15) 0 5px 15px 0;
}
#loader,
.card__text {
  -ms-flex-direction: column;
}
.button:focus,
.button:hover {
  color: #fff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px 0 inset;
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px 0 inset;
  padding: 1.5rem 3rem;
}
.footer__section-one .space,
.to__top a {
  background-color: var(--container-bg-color-2);
}
.to__top {
  position: fixed;
  display: none;
  bottom: 5%;
  right: 5%;
  z-index: var(--z-fixed);
}
.to__top a {
  padding: 1rem 1.5rem;
  color: #fff;
  border-radius: 10px;
  transition: 0.2s;
}
.card h1,
.contact__box a:hover,
.contact__box span:hover,
.dev__team .copyrights {
  color: var(--container-bg-color-2);
}
.card img,
.step__card {
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
}
#loader {
  position: fixed;
  top: 0;
  height: 100%;
  background-color: rgba(208, 157, 38, 0.3);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: calc(var(--z-modal) + 1);
}
.loader-icon {
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.card,
.cards {
  display: -webkit-box;
  display: -ms-flexbox;
}
.card.reverse,
.cards {
  -webkit-box-orient: horizontal;
}
.loader__logo {
  width: 5rem;
  -webkit-animation: 2s linear infinite spin;
  animation: 2s linear infinite spin;
}
#loader p {
  color: #000;
  margin-top: 10px;
  font-weight: 700;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.services__section {
  margin-top: 4rem;
}
.section__heading {
  text-align: center;
  margin-bottom: 4rem;
}
.section__heading h1 {
  font-size: var(--fs-3xl);
  font-family: var(--font-3);
  margin-bottom: 2rem;
  background: #9b7b2e;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(40%, #ad7c08),
    color-stop(60%, #af6703),
    color-stop(70%, #fffffd),
    color-stop(80%, #ad7c08)
  );
  background: -o-linear-gradient(
    left,
    #ad7c08 40%,
    #af6703 60%,
    #fffffd 70%,
    #ad7c08 80%
  );
  background: linear-gradient(
    to right,
    #ad7c08 40%,
    #af6703 60%,
    #fffffd 70%,
    #ad7c08 80%
  );
  -webkit-background-clip: text;
  background-clip: text;
  text-fill-color: transparent;
  background-size: 500% auto;
  -webkit-animation: 4s ease-in-out infinite alternate textShine;
  animation: 4s ease-in-out infinite alternate textShine;
}
.card h1,
.step__number {
  font-size: var(--fs-2xl);
}
.section__heading i {
  margin-right: 2rem;
}
.cards {
  display: flex;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 10rem;
  margin: 5rem auto;
  padding: 0 10rem;
}
.card {
  display: flex;
  gap: 5rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 2rem;
}
.card__text,
.steps {
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
}
.card.reverse {
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.card.reverse img {
  border-radius: 0 10% 10% 0/100%;
}
.card:focus img,
.card:hover img {
  -webkit-box-shadow: #9c7b2e 0 0 0 2px, rgba(156, 123, 46, 0.3) 14px 14px,
    rgba(156, 123, 46, 0.2) 22px 22px;
  box-shadow: #9c7b2e 0 0 0 2px, rgba(156, 123, 46, 0.3) 14px 14px,
    rgba(156, 123, 46, 0.2) 22px 22px;
}
.card img {
  max-width: 55rem;
  min-height: 35rem;
  border-radius: 10% 0 0 10%/100% 0 0 100%;
  -webkit-box-shadow: rgba(156, 123, 46, 0.4) 0 0 0 2px,
    rgba(156, 123, 46, 0.3) 8px 8px, rgba(156, 123, 46, 0.2) 12px 12px;
  box-shadow: rgba(156, 123, 46, 0.4) 0 0 0 2px, rgba(156, 123, 46, 0.3) 8px 8px,
    rgba(156, 123, 46, 0.2) 12px 12px;
  transition: 0.2s;
}
.card__text {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 2rem;
  max-width: 50rem;
}
.card h1 {
  font-family: var(--font-4);
  position: relative;
}
.contact__box h3,
.steps h3 {
  font-family: var(--font-5);
}
.steps__section {
  color: #fff;
  padding: 0;
  -webkit-clip-path: polygon(0 1%, 100% 0, 100% 98%, 0% 100%);
  clip-path: polygon(0 1%, 100% 0, 100% 98%, 0% 100%);
}
.section__wrapper {
  background-color: #000;
  padding: 4rem;
}
.steps__wave {
  margin-bottom: -1rem;
}
.steps__section .section__heading,
.steps__section .steps {
  -webkit-transform: translateY(-10rem);
  -ms-transform: translateY(-10rem);
  transform: translateY(-10rem);
}
.steps {
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.step__card,
.step__number {
  display: -webkit-box;
  display: -ms-flexbox;
}
.step__card {
  position: relative;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 6rem 2rem;
  gap: 4rem;
  padding: 6rem 2rem;
  background-color: #04486875;
  -webkit-box-shadow: rgba(4, 72, 104, 0.5) 0 8px 4px,
    rgba(4, 72, 104, 0.4) 1px 17px 13px -3px,
    rgba(4, 72, 104, 0.2) 0 -8px 0 inset;
  box-shadow: rgba(4, 72, 104, 0.5) 0 8px 4px,
    rgba(4, 72, 104, 0.4) 1px 17px 13px -3px,
    rgba(4, 72, 104, 0.2) 0 -8px 0 inset;
  border-radius: 20px;
  transition: 0.2s;
}
.step__card:hover {
  -webkit-transform: translateY(-10px) scale(1.01);
  -ms-transform: translateY(-10px) scale(1.01);
  transform: translateY(-10px) scale(1.01);
}
.steps .step__img {
  width: 45rem;
  height: 30rem;
  border-radius: 10px;
}
.step__number {
  position: absolute;
  top: 25px;
  left: 50px;
  background-color: #9b7b2e;
  width: 50px;
  height: 50px;
  padding: 3rem;
  border-radius: 50%;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 2px 4px,
    rgba(0, 0, 0, 0.3) 0 7px 13px -3px, rgba(0, 0, 0, 0.2) 0 -3px 0 inset;
  box-shadow: rgba(0, 0, 0, 0.4) 0 2px 4px, rgba(0, 0, 0, 0.3) 0 7px 13px -3px,
    rgba(0, 0, 0, 0.2) 0 -3px 0 inset;
}
.contact__wrapper,
.step__heading {
  display: -webkit-box;
  display: -ms-flexbox;
}
.step__heading {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.steps h3 {
  font-size: var(--fs-l);
  color: var(--tertiary-color);
  color: var(--container-bg-color-3);
  text-shadow: 0 0 5px var(--container-bg-color-3);
  text-align: center;
}
.steps .step__text {
  list-style-type: circle;
  max-width: 50rem;
  padding: 2rem;
  line-height: 1.8;
  font-family: var(--font-4);
}
.arrow span {
  width: 20px;
  height: 20px;
  border-bottom: 4px solid #ffec66;
  border-right: 4px solid #ffec66;
  margin-bottom: 1rem;
  -webkit-animation: 2s infinite arrowAnimation;
  animation: 2s infinite arrowAnimation;
}
.arrow span:nth-child(2) {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}
.arrow span:nth-child(3) {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}
.contact__section .section__heading {
  margin-bottom: 8rem;
}
.contact__wrapper {
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 4rem;
}
.contact__box,
.footer__section-one {
  display: -webkit-box;
  display: -ms-flexbox;
}
.contact__box {
  width: clamp(20rem, 30rem, 100%);
  border: solid 1px var(--container-bg-color-2);
  border-radius: 10px;
  padding: 2rem;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-shadow: rgba(104, 86, 3, 0.5) 15px 25px 25px -20px;
  box-shadow: rgba(104, 86, 3, 0.5) 15px 25px 25px -20px;
}
.contact__box i {
  border: 2px solid var(--container-bg-color-2);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: inherit;
  padding: 1rem;
  margin-bottom: 3rem;
  font-size: var(--fs-xl);
  color: #102d59;
}
.contact__box h3,
.contact__box p {
  margin-bottom: 2rem;
}
.footer__section-one,
.footer__section-one a {
  color: var(--container-bg-color);
}
.contact__box a,
.contact__box span {
  font-weight: var(--fw-bold);
  text-decoration: underline;
  padding-bottom: 1rem;
  -webkit-text-decoration-style: wavy;
  text-decoration-style: wavy;
  -webkit-text-decoration-color: var(--container-bg-color-2);
  text-decoration-color: var(--container-bg-color-2);
}
.footer__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.6fr 0px 0.4fr;
  grid-template-columns: 1.6fr 0.4fr;
  -ms-grid-rows: 1.8fr 0px 0.2fr;
  grid-template-rows: 1.8fr 0.2fr;
  gap: 0;
  grid-template-areas: "footer__section-one footer__section-two" "dev__team dev__team";
  background-color: #000;
}
.wave__container {
  -webkit-transform: translateY(8rem);
  -ms-transform: translateY(8rem);
  transform: translateY(8rem);
  z-index: 1;
}
.wave__one {
  text-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}
.wave__two {
  -webkit-transform: translateY(1rem);
  -ms-transform: translateY(1rem);
  transform: translateY(1rem);
}
.footer__section-one {
  position: relative;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 4rem;
  background-color: #000;
  max-height: 30rem;
  z-index: 100;
}
.address,
.footer__section-two {
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
}
.logo__white {
  max-width: 15rem;
}
.footer__section-one p {
  max-width: 50%;
}
.footer__section-one ul {
  position: relative;
  list-style-type: disc;
  padding: 2rem;
  font-size: var(--fs-m);
  font-weight: var(--fw-semi-bold);
}
.footer__section-one .space {
  content: "";
  height: 10rem;
  width: 2px;
  border-radius: 20px;
}
.footer__section-one li {
  margin-bottom: 1rem;
}
.footer__section-one a:hover {
  color: #fff;
}
.footer__section-one,
.footer__section-two {
  padding: 4rem 5rem;
}
.footer__section-two {
  color: #000;
  z-index: 4;
  display: flex;
  border-radius: 10% 0 0 50%/10% 0 0 35%;
  background-color: var(--container-bg-color);
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}
.address {
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 2rem;
}
.adress__ad,
.adress__mail,
.adress__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}
.address i {
  font-size: var(--fs-l);
}
.social-media__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 2rem;
}
.social-media__links a {
  position: relative;
}
.social-media__links span {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  left: -50%;
  right: 0;
  top: -5rem;
  background-color: #000;
  border-radius: 10px;
  z-index: var(--z-tooltip);
  padding: 1rem;
  color: #fff;
  display: none;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.social-media__links i {
  font-size: var(--fs-xl);
}
.dev__team {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 1rem;
  grid-area: dev__team;
  font-weight: var(--fw-medium);
  font-size: var(--fs-s);
  padding: 2rem 10rem;
}
.dev__team .tag {
  color: #fff;
}
.dev__team i {
  color: red;
}
@media screen and (max-width: 1025px) {
  section {
    padding: 3rem;
  }
  .hero__slider {
    padding: 1rem;
  }
  .cards {
    gap: 15rem;
    margin: 5rem auto;
    padding: 0 1rem;
  }
  .card {
    gap: 5rem;
    padding: 1rem;
  }
  .card img {
    max-width: 40rem;
    min-height: 28rem;
  }
  .footer__section-one,
  .footer__section-two {
    padding: 2rem 3rem;
  }
  .footer__section-two {
    border-radius: 5% 0 0 5%;
  }
}
@media screen and (max-width: 769px) {
  header,
  nav,
  nav ul {
    width: 100%;
  }
  .active .show__button,
  nav ul {
    display: none;
  }
  .hero__text h1,
  .section__heading h1 {
    font-size: var(--fs-2xl);
  }
  .card img,
  .card.reverse img {
    border-radius: 10px;
  }
  .card p,
  .hero__text h1 {
    text-align: center;
  }
  .footer__section-one .logo__white,
  .logo__container {
    max-width: 10rem;
  }
  .section {
    padding: 3rem 2rem;
  }
  main {
    margin-top: calc(var(--header-height));
  }
  header {
    height: auto;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    z-index: var(--z-modal);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0.5rem 2rem;
    position: relative;
  }
  nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 4rem;
    padding: 2rem;
    position: absolute;
    top: var(--header-height);
    left: 0;
    background: var(--container-bg-color);
  }
  .header__logo {
    margin-right: 0;
  }
  .close__button {
    font-size: 3rem;
    right: 4%;
    top: 5%;
    padding: 1rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
    display: none;
  }
  .active ul,
  .show__button {
    display: -webkit-box;
    display: -ms-flexbox;
  }
  .close__button:hover {
    color: var(--container-bg-color-3);
  }
  .show__button {
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 2rem;
    right: 5%;
    top: 3%;
    width: 4rem;
    height: 4rem;
    z-index: var(--z-fixed);
    background-color: var(--container-bg-color-2);
    padding: 1rem;
    border-radius: 50%;
    cursor: pointer;
  }
  .card,
  .card.reverse,
  .hero__section,
  .step__card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
  }
  .show__button:hover {
    background-color: var(--container-bg-color-3);
  }
  .active ul {
    display: flex;
    -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0 10px 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0 10px 10px;
  }
  .active .close__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .card.reverse,
  .hero__section,
  .step__card {
    flex-direction: column;
  }
  .hero__swiper-button-next,
  .hero__swiper-button-prev {
    width: 2.5rem;
    height: 2.5rem;
    font-size: var(--fs-l);
  }
  .hero__slider,
  .hero__text {
    width: auto;
  }
  .footer__section-one,
  .footer__section-two,
  .hero__slider {
    padding: 4rem;
  }
  .hero__text {
    margin-bottom: 2rem;
  }
  .cards {
    gap: 5rem;
    margin: 5rem auto;
    padding: 0 1rem;
  }
  .card {
    gap: 2rem;
    padding: 1rem;
    flex-direction: column;
  }
  .card__text,
  .footer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
  }
  .card img {
    max-width: 35rem;
    min-height: 25rem;
  }
  .card__text {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .card h1 {
    font-size: var(--fs-xl);
  }
  .steps__section {
    padding: 0;
  }
  .wave__container {
    -webkit-transform: translateY(1rem);
    -ms-transform: translateY(1rem);
    transform: translateY(1rem);
  }
  .contact__wrapper {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .footer__wrapper {
    display: flex;
    flex-direction: column;
  }
  .footer__section-one {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 2rem;
    max-height: unset;
    z-index: 1;
  }
  .footer__section-one p {
    max-width: unset;
    padding: 1rem;
  }
  .footer__section-one ul {
    padding: 1rem;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .footer__section-one .space {
    content: "";
    width: 10rem;
    height: 2px;
    border-radius: 20px;
  }
  .footer__section-two {
    color: #000;
    z-index: 4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 0;
    background-color: var(--container-bg-color);
    padding: 4rem;
  }
  .dev__team {
    padding: 1rem;
  }
}
@media screen and (max-width: 426px) {
  .hero__slider,
  .section {
    padding: 1rem;
  }
  .section {
    margin-bottom: 3rem;
  }
  .section__heading i {
    margin-right: 1rem;
  }
  .swiper-pagination-bullet {
    width: 15px;
    height: 4px;
  }
  .steps__section {
    padding: 0;
    -webkit-clip-path: polygon(0 0%, 100% 0, 100% 99%, 0% 100%);
    clip-path: polygon(0 0%, 100% 0, 100% 99%, 0% 100%);
  }
  .section__wrapper {
    padding: 1rem 1rem 10rem;
  }
  .steps__section .section__heading,
  .steps__section .steps {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  .step__card {
    gap: 3rem;
    padding: 3rem 1rem;
    margin: 6rem 1rem;
  }
  .steps .step__img {
    height: 22rem;
  }
  .step__number {
    top: 20px;
    left: 20px;
    font-size: var(--fs-2xl);
    width: 30px;
    height: 30px;
    padding: 2rem;
  }
  .arrow span {
    margin-bottom: 2rem;
    width: 15px;
    height: 15px;
  }
  .wave__container {
    -webkit-transform: translateY(1rem);
    -ms-transform: translateY(1rem);
    transform: translateY(1rem);
  }
  .footer__section-one,
  .footer__section-two {
    padding: 2rem;
  }
}
@media screen and (max-width: 321px) {
  .card img {
    max-width: 35rem;
    min-height: auto;
    width: 30rem;
    height: 22rem;
  }
  .card h1 {
    text-align: center;
  }

  .steps .step__img {
    height: 20rem;
  }
}
